.login {
		@include relative();
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		height:100%;

		&__wrapper {
			@include flexbox();
			@include flex-direction(column);	
			@include size(100%, 100%);
			@include align-items(center);
			@include justify-content(center);

			@include media('<=md') {
				justify-content: unset;
				height: unset;
			}

			&__header {
				width: 400px;
				padding: 1.4rem 0;

				@include media('<=md') {
					padding:unset;
				}

				.business {
					@include absolute(top 4rem right 0);
					width: 12.4rem;
					padding-bottom:2rem;

					@include media('<=md') {
						margin: 0 auto;
						position: unset;
					}
				}

				h1 {
					@include set-font($base-font-family, normal, normal, 3.2rem);
					text-align: center;
				}

				.social-signin {
					@include flexbox();
					@include justify-content(space-between);
					padding: 4rem 0 0 0;
				}
				
				.uk-divider-icon {
					margin-bottom: 0;
				}
			}
		}

	}