.password-recovery {
  @include relative();
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;

  @include media('<=lg') {
    width: 90%;
    margin: 0 auto;
  }

  @include media('<=md') {
    width: 60%;
  }

  @include media('<=sm') {
    width: 100%;
    padding: 50px 30px;
  }

  &__wrapper {
    @include flexbox();
    @include flex-direction(column);
    @include size(100%, 100vh);
    @include align-items(center);
    @include justify-content(center);

    @include media('<=md') {
      justify-content: unset;
      height: unset;
    }

    &__toolbar {


      .indietro {
        @include absolute(top 4rem left 0);

        @include media('<=md') {
          display: none;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          background-color: #fff;
          border: 1px solid #D0D4DA;
          border-radius: 40px;
          padding: 0;
          line-height: 1.4;
          color: #99A5BD;

          &:hover,
          &:focus {
            text-decoration: none;
            background-color: #28C660;
            border: 1px solid #28C660;
            color: #fff;
          }
        }
      }

      .business {
        display: none;
      }
    }

    &__header {
      width: 40rem;
      padding: 1.4rem 0;

      @include media('<=sm') {
        width: 100%;
      }

      h1 {
        @include set-font($base-font-family, normal, normal, 3.2rem);
        text-align: left;

        @include media('<=md') {
          text-align: center;
        }

        @include media('<=sm') {
          font-size: 2.4rem;
        }
      }

      p {
        @include set-font($base-font-family, normal, normal, $small-font-size);
        color: get-color(primary, 2);
        padding: 2rem 0;
      }

      @include media('<=md') {
        text-align: center;
      }
    }
  }

  &__footer {
    width: 40rem;
    @include flexbox();
    @include align-items(center);
    margin-top: -10rem;
    padding-bottom: 7rem;
    @include set-font($base-font-family, normal, normal, $base-font-size);

    @include media('<=md') {
      width: 100%;
      @include justify-content(flex-start);
      padding: 0 0 2.4rem 0;
      margin: unset;
    }

    @include media('<=sm') {
      @include justify-content(center);
    }

    .link-text {
      display: none;

      @include media('<=md') {
        display: block;
      }
    }
  }
}
