*, *::before, *::after{
  box-sizing: border-box;
}

::selection {
  background: get-color(primary, 0);
}

body {
  background: get-color(bg, 1);
}

figure {
  margin: 0;
}

img, svg{
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    transition: all $tt;
    color: rgb(97, 87, 78);
  }
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
ul, ol, p {
  margin: 0;
}

.js-allclick, .js-toggle {
  cursor: pointer;
}