.band-footer {
	background: get-color(primary, 0);
	@include size(100%, 18.1rem);
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);

	@include media('<=md') {
		@include flex-direction(column);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 90%;
		justify-content: center;

		@include media('<=md') {
			@include flex-direction(column);
		}
	}

	p {
		@include set-font($base-font-family, normal, normal, 4.2rem);
		color: $color-white;
		padding-right: 4rem;

		@include media('<=md') {
			font-size: 3.2rem;
			padding: 2rem 0;
		}
	}

	button {
		@include media('<=md') {
			width: 19.7rem;
		}
		@include media('<=sm') {
			width: 100%;
		}
	}
}