.image-welcome {
  display: none;

  @include media('<=md') {
    display: block;
    background: url('../../../../images/weedly-cover.jpg') no-repeat;
    background-size: cover;
    height: 40rem;
    margin-bottom: 4rem;
  }

  @include media('<=sm') {
    background: url('../../../../images/weedly-cover.jpg') no-repeat;
    background-size: cover;
    background-position: center right;
    height: 40rem;
  }
}
