.social {
  @include size(44rem, auto);
  padding-top: 7rem;
  padding-bottom: 2rem;

  @include media('<=md') {
    padding-top: 2rem;
  }

  ul {
    padding-left: 0;

    @include media('<=md') {
      text-align: center;
    }
  }

  li {
    display: inline;
    padding-right: 2.4rem;

    &:last-child {
      padding-right: 0;
    }

    a {
      transition: $tt;

      &:hover,
      &:focus {
        color: $weedly;
        transition: $tt;
      }
    }
  }
}
