/* -------------------------------------------------------------------------- */
/*                                  CONTAINER                                 */
/* -------------------------------------------------------------------------- */
@mixin container($fluid: false) {
	padding-left: $container-pad;
	padding-right: $container-pad;
	margin: 0 auto;
	width: 100%;
	@if not $fluid {
	  @each $bp, $width in $container-width {
		@include media(">=#{$bp}") {
		  width: $width;
		};
	  }
	}
}  