// include-media breakpoints
$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
) !default;

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default; 

// Spacing unit
$su: 4px !default;

// Global Unit
$xs: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xl: 4rem;

// Font Size Unit
$fsPrimary: 2.2rem;
$textSmall: 1.2rem;
$textMedium: 1.4rem;
$textBase: 1.6rem;
$textExtra: 1.8rem;
$textLarge: 2rem;
$textExtraLarge: 2.4rem;
$textBig: 2.6rem;
$textGiant: 2.8rem;

// Line Height
// fallback for old browser => $lh-base: (1 * 10) + px; 
$lh-base: 1rem;
$lh-xs: 1.8rem;
$lh-s: 2rem;
$lh-sm: 2.4rem;
$lh-sl: 2.6rem;
$lh-md : 2.8rem;
$lh-lg: 3rem;
$lh-xl: 3.4rem;
$lh-xxl: 4.9rem;

// Padding Unit
$pt: 2rem;
$pr: 2rem;
$pb: 2rem;
$pl: 2rem;

// Margin Unit
$mt: 2rem;
$mr: 2rem;
$mb: 2rem;
$ml: 2rem;

// Letter Spacing
$ls-xxs: 0.696258px;
$ls-xs: 0.881201px;
$ls-sm: 0.8px;
$ls: 1px;
$ls-md: 6px;

// container's settings
$container-width: (
  sm: 750px,
  md: 970px,
  lg: 1170px,
  // xl: 1560px,
) !default;
$container-pad: 15px !default;

// Grid class name
$im-grid-class: 'grid';
// Cell class name
$im-grid-cell-class: 'grid-cell';
// Setting gutters
$im-grid-gutter-size: 30px;
// Optionally include max-width to fix IE issues
$im-grid-include-max-width: true;

// colors
$text-color: black;

$colors: (
  primary: (
    0: #28C660,
  ),
  bg: (
    0: #F3F3F4,
    1: #28C660,
    2: #E3E3E3,
    3: #DB3236, //Google
    4: #3B5998, //Facebook
  ),
  modal: (
    0: #fffffff0
  )
);

// fonts
$base-font-family: 'Sarabun', sans-serif;
$alt-font-family: 'Poppins', sans-serif;
$title-font-family: 'Open Sans', serif;

// Transitions
$tt: 0.5s;