// include-media breakpoints
$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
) !default;

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default; 

// Spacing unit
$su: 4px !default;

// Global Unit
$xs: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xl: 4rem;



// Line Height
// fallback for old browser => $lh-base: (1 * 10) + px; 
$lh-base: 1rem;
$lh-xs: 1.8rem;
$lh-s: 2rem;
$lh-sm: 2.4rem;
$lh-sl: 2.6rem;
$lh-md : 2.8rem;
$lh-lg: 3rem;
$lh-xl: 3.4rem;
$lh-xxl: 4.9rem;

// Padding Unit
$pt: 2rem;
$pr: 2rem;
$pb: 2rem;
$pl: 2rem;

// Margin Unit
$mt: 2rem;
$mr: 2rem;
$mb: 2rem;
$ml: 2rem;

// Letter Spacing
$ls-xxs: 0.696258px;
$ls-xs: 0.881201px;
$ls-sm: 0.8px;
$ls: 1px;
$ls-md: 6px;

// container's settings
$container-width: (
  sm: 750px,
  md: 970px,
  lg: 1170px,
  // xl: 1560px,
) !default;
$container-pad: 15px !default;

// Grid class name
$im-grid-class: 'grid';
// Cell class name
$im-grid-cell-class: 'grid-cell';
// Setting gutters
$im-grid-gutter-size: 30px;
// Optionally include max-width to fix IE issues
$im-grid-include-max-width: true;

// colors
$text-color: black;

$colors: (
  primary: (
    0: #28C660,
    1: #3ccb6f, //hover
  ),
  bg: (
    0: #F3F3F4,
    1: #28C660,
    2: rgb(19, 167, 71),
    3: #DB3236, //Google
    4: #3B5998, //Facebook
    5: #768093
  ),
  modal: (
    0: #fffffff0
  )
);

// Main Colors
$color-weedly:    #28C660 !default; // weedly green
$color-info:      #2083FE !default; // blue
$color-success:   #2FCA74 !default; // green
$color-warning:   #f5b848 !default; // yellow
$color-danger:    #ED4D4D !default; // red
$color-fancy: 	  #6F35F0 !default; // purple
$color-primary:   #252529 !default; // black
$color-secondary: #768093 !default; // grey

// Extra Colors
$color-pink: #F44C67 !default; // pink

// Light Colors
$color-info-light:      #E0EBFF !default; // blue
$color-success-light:   #DAF4E6 !default; // green
$color-warning-light:   #FFECDA !default; // yellow
$color-danger-light:    #FFE2E2 !default; // red
$color-primary-light:   #E9ECF2 !default; // black
$color-fancy-light:     #E9E0FF !default; // purple

// Basic Colors
$color-sky-light: #F4F6F9 !default;
$color-sky:       #ECEDF2 !default;
$color-sky-dark:  #E1E2E8 !default;

$color-ink-light: #99A5BD !default;
$color-ink:       #768093 !default;
$color-ink-dark:  #252529 !default;

$color-white: #fff !default;

// Main Gradients
$gradient-info:      #1D7BF0, #2083FE !default;
$gradient-success:   #28C76F, #2CCF75 !default;
$gradient-warning:   #F5A155, #F5B855 !default;
$gradient-danger:    #EE4343, #EC5F5F !default;
$gradient-primary:   #252529, #444449 !default;
$gradient-secondary: #768093, #969FB0 !default;
$gradient-weedly:    #28C660, #20BE58 !default;

// Extra Gradients
$gradient-fancy: #4F5EF5, #6A77FF; // purple


// Brand Color
//
// The brand color of the whole kit, will affect most UI components like toggles,
// buttons and switchs.
//

$brand-color: $color-weedly !default;
$body-background-color: $color-sky-light !default;
$base-background-color: $color-white !default;


// fonts
$base-font-family: 'Sarabun', sans-serif;

$base-font-size: 16px !default;
$base-line-height: 24px !default;

// Font Weights
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;

// Text
$text-small-font-size: rem(12px) !default;
$text-font-size: rem(14px) !default;
$text-large-font-size: rem(16px) !default;

$text-color: $color-ink !default;
$text-inverse-color: $color-white !default;
$text-strong-color: $color-ink !default;

// Headings
$heading-color: $color-ink-dark;
$heading-margin: 0;
$heading-font-weight: $font-weight-semibold;

$h1-font-size: rem(36px) !default;
$h2-font-size: rem(28px) !default;
$h3-font-size: rem(24px) !default;
$h4-font-size: rem(20px) !default;
$h5-font-size: rem(18px) !default;
$h6-font-size: rem(16px) !default;

// Links
$link-color: $color-weedly;
$link-hover-color: $color-weedly;

// Transitions
$tt: 0.5s;