.left-panel {
  background: get-color(bg, 1);
  @include size(480px, 100vh);

  @include media('<=sm') {
    @include size(100%, 50vh);
  }

  &__wrapper {
    height: 100%;
    @include flexbox();
    @include align-items(center);
  }

  &__body {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }

  &__header {
    @include flexbox();
    @include flex-flow(column);
    @include justify-content(center);
    height: 100%;


    @include media('<=lg') {
      @include justify-content(center);
    }

    @include media('<=md') {
      @include flex-flow(row);
      @include align-items(center);
    }

    @include media('<=sm') {
      @include flex-flow(column);
      padding: 0 15px;
    }

    &__wrapper {
      @include flexbox();
      @include justify-content(flex-start);
      padding-bottom: 13.5rem;

      @include media('<=lg') {

        padding-bottom: 2rem;
      }
    }
  }

  &__footer {

    .welcome {
      padding-bottom: 4rem;

      @include media('<=sm') {
        text-align: center;
      }

      &__title {
        word-wrap: break-word;
        color: white;
        @include set-font($base-font-family, normal, normal, 2.4rem);

        @include media('<=sm') {
          font-size: 1.5rem;
        }
      }
    }

    @include media('<=lg') {
      @include justify-content(center);
    }

    @include media('<=md') {
      width: 40rem;
      padding-left: 6rem;
    }

    @include media('<=sm') {
      width: unset;
      padding-left: unset;
    }
  }
}
