.left-panel {
	background:#28C660;
	@include size(480px, 100vh);
	@include media('<=md') {
		@include size(100%, 100vh);
	}
	&__wrapper {
		height:100%;
	}

	&__body {
		p {
			color: white;
			@include set-font($base-font-family, normal, normal, 2.4rem);	
		}
	
		button, input {
			margin-top: 3.2rem;
		}
	}

	&__header {
		height: 100%;
	}
}

