// vars
$p: rem(16px 40px);
$fw: 500;
$b-rad: 6px;
$lh: 1.6;
$ico-dim: rem(32px);

// Structure Button
.btn {
  @include set-font($base-font-family, $fw, normal, $base-font-size);
  @include size(100%, auto);
  padding: $p;
  line-height: $lh;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: all $tt;
  border:none;
  border-radius: $b-rad;

  svg {
    @include size($ico-dim, $ico-dim);
    transition: all $tt;
  }

  &--primary {
    background: get-color(primary, 0);
    color:white;
    &:active {
      background: get-color(primary, 0);
      color: $color-white;
    }
    &:hover {
      background: get-color(primary, 1);
      box-shadow: 0 5px 20px 0 rgba(29,29,31,.09);
      opacity: .9;
    }
    &:active {
      transform: scale(.92);
    }
  }
  &--dark {
    @include button-style(white, black, black, white, black, black);
    &:active {
      background: white ;
      color: black;
    }	
  }
  &--google {
    @include button-style(white, get-color(bg, 3), get-color(bg, 3), white, get-color(bg, 3), get-color(bg, 3));
    width: 324px;
    border-radius: $b-rad;
    border: 1px solid get-color(bg, 3);
    &:active {
      background: get-color(bg, 3);
      color: $color-white;
    }	
    @include media('<=sm') {
      width: 250px;
    }
  }
  &--facebook {
    @include button-style(white, get-color(bg, 4), get-color(bg, 4), white, get-color(bg, 4), get-color(bg, 4));
    width: 60px;
    font-size:1.6rem;
    border-radius: $b-rad;
    cursor: pointer;
    transition: all $tt;
    &:active {
      background: get-color(bg, 4);
      color: $color-white;
    }	
  }
  &--yellow {
    @include button-style(white, get-color(bg, 5), get-color(bg, 5), white, get-color(bg, 5), get-color(bg, 5));
    &:active {
      background: get-color(bg, 6);
      color:$color-white;
    }
  }
  &--grey {
    @include button-style(white, get-color(bg, 5), get-color(bg, 5), white, get-color(bg, 5), get-color(bg, 5));
    &:active {
      background: get-color(bg, 5);
      color:$color-white;
    }
  }
  &--beige {
    @include button-style(get-color(beige-dark, 1), get-color(bg, 10), get-color(bg, 10), get-color(primary, 0), get-color(bg, 10), get-color(bg, 10));
  }
}

.btn-simple {
  margin: $mt 1rem 0 0;
  @include rem(font-size, $base-font-size);

  &--muted {
    color:get-color(bg,0);
  }
  &--primary {
    color: get-color(beige-dark,1);
    font-weight: $fw;
  }
}

.btn-gray {
  background: rgba(226, 224, 219, 0.5);
   span{
    margin-right: 14px;
    margin-bottom: 10px;
  }
}

//   @include when-inside('.') {
//     @include size(100%, auto);
//   }