// vars
$p: rem(8.3px 40px);
$b-rad: 8px;
$lh: 1.6;
$ico-dim: rem(32px);

// Structure Button
.btn {
  @include set-font($base-font-family, normal, normal, $small-font-size);
  @include size(12.6rem, 4rem);
  display: inline-block;
  text-decoration: none;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  padding: $p;
  line-height: $lh;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: all $tt;
  border:none;
  border-radius: $b-rad;
  @include media('<=sm') {
    width: 100%
  }
  
  svg {
    @include size($ico-dim, $ico-dim);
    transition: all $tt;
  }

  &--primary {
    background: get-color(primary, 0);
    color:white;
    &:active {
      background: get-color(primary, 0);
      color: $color-white;
    }
    &:hover {
      background: get-color(primary, 1);
      opacity: .9;
    }
    &:active {
      transform: scale(.92);
    }
  }

  &--dark {
    @include button-style(white, white, black, #252529, white, black);
    @include size(15rem, 4rem);
    &:active {
      background: black ;
      color: white;
      transform: scale(.92);
    }	
    @include media('<=sm') {
      width: 100%;
    }
  }

  &--google {
    @include button-style(white, white, get-color(bg, 3), get-color(bg, 6), get-color(bg, 6), get-color(bg, 6));
    width: 324px;
    border-radius: $b-rad;
    border: 1px solid get-color(bg, 3);
    &:active {
      background: get-color(bg, 3);
      color: $color-white;
      transform: scale(.92);
    }
    
    @include media('<=md') {
      width: 80%;
    }

    i {
      font-size: $base-font-size;
      padding-right: 1rem;
    }
  }

  &--facebook {
    @include button-style(white, white, get-color(bg, 4), get-color(bg, 7), get-color(bg, 7), get-color(bg, 7));
    width: 60px;
    font-size: $base-font-size;
    border-radius: $b-rad;
    border: 1px solid get-color(bg, 4);
    cursor: pointer;
    transition: all $tt;
    &:active {
      background: get-color(bg, 4);
      color: $color-white;
      transform: scale(.92);
    }	

    @include media('<=md') {
      width: 15%;
    }
  }

  &--grey {
    @include button-style(white, white, get-color(bg, 5), #969FB0, get-color(bg, 5), get-color(bg, 5));
    border-radius: $b-rad;
    &:active {
      background: get-color(bg, 5);
      color:$color-white;
      transform: scale(.92);
    }
  }


}

.btn-large {
  width: 21.4rem;
  @include media('<=sm') {
    width: 100%;
  }
}

a.btn {
  text-decoration: none;

  &:hover {
    color:white;
  }
}
//   @include when-inside('.') {
//     @include size(100%, auto);
//   }