.login-form {
	width: 400px;
	padding-bottom: 2.4rem;

	@include media('<=md') {
		width:100%;
	}
	
	label {
		@include set-font($base-font-family, 600, normal, 1.6rem);
		display: inline-block;
		margin:1rem 0;
	}

	&__password {
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
	}

	button {
		width: 16rem;

		@include media('<=md') {
			width: 100%;
		}
	}
}